//Styles: Item styling

.tag-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.item-sheet {
  padding: 2.125rem;

  .sheet-body {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;

    .tag-selector {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5em;

      .tag-pill.selected {
        background: $mg-blue-main-2;
        color: $mg-blue-2;
      }
    }
  }
}
