<form class="guise-sheet">
  <header class="sheet-header">
    <h1><input type="text" name="name" value="{{item.name}}" /></h1>
  </header>

  <div class="sheet-body">
    <div class="desription-group">
      <label>Description</label>
      {{editor
        system.description
        target="system.description"
        engine="tinymce"
        owner=owner
        editable=editable
        button=false
      }}
    </div>

    <div class="guise-strain">
      <div class="guise-capacity">
        <label>Mortal Strain Cap</label>
        <input type="number" name="system.mortalCap" value="{{system.mortalCap}}" />
      </div>

      <div class="guise-capacity">
        <label>Soul Strain Cap</label>
        <input type="number" name="system.soulCap" value="{{system.soulCap}}" />
      </div>
    </div>

    <div class="guise-consumables">
      <div class="guise-consumable-single">
        <label for="sparkSlots">Spark Slots</label>
        <input type="number" name="system.sparkSlots" value="{{system.sparkSlots}}" />
      </div>

      <div class="guise-consumable-single">
        <label for="riskDice">Risk Dice</label>
        <input type="number" name="system.riskDice" value="{{system.riskDice}}" />
      </div>
    </div>

    <div class="guise-caster">
      <label for="casterType">Caster Type</label>
      <select name="system.casterType">
        <option value="none" {{#if (eq system.casterType "none")}}selected{{/if}}>No Caster</option>
        <option value="half" {{#if (eq system.casterType "half")}}selected{{/if}}>Half Caster</option>
        <option value="full" {{#if (eq system.casterType "full")}}selected{{/if}}>Full Caster</option>
      </select>
    </div>

    <div class="attribute-modifiers">
      <label>Attribute Modifiers</label>
      <div class="grid">
        {{#each attributeKeys}}
          <div class="attr-row">
            <label>{{capitalize this}}</label>
            <input type="number" name="system.modifiers.{{this}}" value="{{lookup ../system.modifiers this}}" />
          </div>
        {{/each}}
      </div>
    </div>

    <!--This is rendering the Guise Basic moves/Signature Perk-->
    <div class="guise-moves">

      <div class="guise-signature">
        <label>Signature Perk</label>
        <input type="text" name="system.signaturePerk" value="{{system.signaturePerk}}" />

        <div class="desription-group">
          <label>Signature Description</label>
          {{editor
            system.signatureDescription
            target="system.signatureDescription"
            engine="tinymce"
            owner=owner
            editable=editable
            button=false
          }}
        </div>
      </div>


      <div class="guise-moves">
        {{#each system.moves as |move idx|}}
          <div class="move-block" data-index="{{idx}}">
            <label>Move Name</label>
            <input
              type="text"
              class="move-name"
              name="system.moves.{{idx}}.name"
              value="{{move.name}}"
              data-index="{{idx}}"
            />

            <label>Move Description</label>
            <textarea
              class="move-description"
              name="system.moves.{{idx}}.description"
              data-index="{{idx}}"
            >{{move.description}}</textarea>

            <button type="button" class="remove-move" data-index="{{idx}}">Remove</button>
          </div>
        {{/each}}


        <button type="button" class="add-move">+ Add Move</button>
      </div>


    </div>
  </div>

</form>
