<form class="guise-sheet">
  <header class="sheet-header">
    <h1><input type="text" name="name" value="{{item.name}}" /></h1>
  </header>

  <div class="sheet-body">
    <label>Mortal Strain Cap</label>
    <input type="number" name="system.mortalCap" value="{{system.mortalCap}}" />

    <label>Soul Strain Cap</label>
    <input type="number" name="system.soulCap" value="{{system.soulCap}}" />

    <label for="sparkSlots">Spark Slots</label>
    <input type="number" name="system.sparkSlots" value="{{system.sparkSlots}}" />

    <label for="riskDice">Risk Dice</label>
    <input type="number" name="system.riskDice" value="{{system.riskDice}}" />

    <label for="casterType">Caster Type</label>
    <select name="system.casterType">
      <option value="none" {{#if (eq system.casterType "none")}}selected{{/if}}>No Caster</option>
      <option value="half" {{#if (eq system.casterType "half")}}selected{{/if}}>Half Caster</option>
      <option value="full" {{#if (eq system.casterType "full")}}selected{{/if}}>Full Caster</option>
    </select>

    <div class="attribute-modifiers">
      <label>Attribute Modifiers</label>
      <div class="grid">
        {{#each attributeKeys}}
          <div class="attr-row">
            <label>{{capitalize this}}</label>
            <input type="number" name="system.modifiers.{{this}}" value="{{lookup ../system.modifiers this}}" />
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <!--This is rendering the Guise Basic moves/Signature Perk-->
  <div class="guise-moves">

    <label>Signature Perk</label>
    <input type="text" name="system.signaturePerk" value="{{system.signaturePerk}}" />

    <label>Basic Moves</label>

    {{#each system.moves}}
      <div class="move-block">
        <input type="text" name="system.moves.{{@index}}.name" value="{{this.name}}" placeholder="Move Name" />
        <textarea name="system.moves.{{@index}}.description" placeholder="Move Description">{{this.description}}</textarea>
      </div>
    {{/each}}

    {{#if (lt system.moves.length 2)}}
      <button type="button" class="add-move">+ Add Move</button>
    {{/if}}
  </div>

</form>
