<form class="item-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <h1><input name="name" type="text" value="{{item.name}}" /></h1>
  </header>

  <section class="sheet-body">
    <div class="item-description wrapper mg-content">
      <label>Description</label>
      {{editor
        system.description
        target="system.description"
        engine="tinymce"
        owner=owner
        editable=editable
        button=false
      }}
    </div>

    <div class="item-notes wrapper mg-content">
      <label>Notes</label>
      {{editor
        system.notes
        target="system.notes"
        engine="tinymce"
        owner=owner
        editable=editable
        button=false
      }}
    </div>


    <div class="wrapper mg-content">
      <label>Tags</label>
      <div class="tag-selector">

        {{#each tags}}
          <div class="tag-container">
            <button
            type="button"
            class="tag-pill {{#if (includes ../system.tags this.id)}}selected{{/if}}"
            data-tag-id="{{this.id}}"
            title="{{this.description}}"
            >
            {{this.label}}
            </button>

              {{#if this.isCustom}}
                <button type="button" class="delete-custom-tag" data-tag-id="{{this.id}}" title="Delete custom tag globally"><i class="fa-solid fa-delete-left"></i></button>
              {{/if}}
          </div>
        {{/each}}
        
      </div>
    </div>
    
    <div class="wrapper tag-wrapper mg-content">
      <label>Selected Tags:</label>
      {{#each item.system.tags}}
        {{#with (findTag ../tags this) as |tag|}}
        <span class="item-tag tag" data-tooltip="{{tag.description}}">{{tag.label}}</span>
        {{else}}
        <span class="item-tag tag">{{this}}</span>
        {{/with}}
      {{/each}}
      
      <button class="add-custom-tag"><i class="fa-solid fa-plus"></i> Add Custom Tag</button>
    </div>

    {{#if (eq item.type "gambit")}}
      <div class="form-group mg-content">
        <label>Gambit Tier</label>
        <select name="system.tier">
          <option value="rookie" {{#if (eq system.tier "rookie")}}selected{{/if}}>Rookie</option>
          <option value="trick" {{#if (eq system.tier "trick")}}selected{{/if}}>Trick Deck</option>
          <option value="ace" {{#if (eq system.tier "ace")}}selected{{/if}}>Ace in the Sleeve</option>
          <option value="final" {{#if (eq system.tier "final")}}selected{{/if}}>Final Hand</option>
          <option value="crew" {{#if (eq system.tier "crew")}}selected{{/if}}>Crew</option>
        </select>
      </div>
    {{/if}}



    {{#if (eq itemType "weapon")}}
      <div class="wrapper mg-content">
        <label>Strain Damage</label>

        <div class="mg-weapon-strain-grid bubble-wrapper">
          <div class="mg-weapon-strain-field strain-bubble">
            <i class="fa-solid fa-dagger" title="Mortal Strain"></i>
            <input type="number"
                  name="system.mortalStrainDamage"
                  value="{{system.mortalStrainDamage}}"
                  min="0" />
          </div>

          <div class="mg-weapon-strain-field strain-bubble">
            <i class="fa-solid fa-moon-over-sun" title="Soul Strain"></i>
            <input type="number"
                  name="system.soulStrainDamage"
                  value="{{system.soulStrainDamage}}"
                  min="0" />
          </div>
        </div>
      </div>
    {{/if}}

    {{#if (eq itemType "armor")}}
      <div class="wrapper mg-content">
        <label>Capacity</label>
        <div class="bubble-wrapper">
          <div class="strain-bubble">
            <i class="fa-solid fa-dagger" title="Mortal Capacity"></i>
            <input type="number" name="system.mortalCapacity" value="{{system.mortalCapacity}}" min="0" />
          </div>

          <div class="strain-bubble">
            <i class="fa-solid fa-moon-over-sun" title="Soul Capacity"></i>
            <input type="number" name="system.soulCapacity" value="{{system.soulCapacity}}" min="0" />
          </div>
        </div>
      </div>
    {{/if}}

    {{#if (eq itemType "misc")}}
      <div class="wrapper mg-content">

        <label>Strain Damage</label>
        <div class="bubble-wrapper">
          <div class="strain-bubble">
            <i class="fa-solid fa-dagger" title="Mortal Strain"></i>
            <input type="number"
                  name="system.mortalStrainDamage"
                  value="{{system.mortalStrainDamage}}"
                  min="0" />
          </div>

          <div class="strain-bubble">
            <i class="fa-solid fa-moon-over-sun" title="Soul Strain"></i>
            <input type="number"
                  name="system.soulStrainDamage"
                  value="{{system.soulStrainDamage}}"
                  min="0" />
          </div>
        </div>

        <label>Capacity</label>
        <div class="bubble-wrapper">
          <div class="strain-bubble">
            <i class="fa-solid fa-dagger" title="Mortal Capacity"></i>
            <input type="number" name="system.mortalCapacity" value="{{system.mortalCapacity}}" min="0" />
          </div>

          <div class="strain-bubble">
            <i class="fa-solid fa-moon-over-sun" title="Soul Capacity"></i>
            <input type="number" name="system.soulCapacity" value="{{system.soulCapacity}}" min="0" />
          </div>
        </div>
      </div>
    {{/if}}

  </section>
</form>
