<form class="item-sheet" autocomplete="off">

  <header class="sheet-header">
    <div class="mg-item-type-badge sheet-body">
      {{#if (eq itemType "weapon")}}
        <h2><i class="fa-solid fa-swords"></i> Weapon</h2>
      {{/if}}

      {{#if (eq itemType "armor")}}
        <h2><i class="fa-solid fa-shield-halved"></i> Armor</h2>
      {{/if}}

      {{#if (eq itemType "misc")}}
        <h2><i class="fa-solid fa-rectangles-mixed"></i> Misc</h2>
      {{/if}}

      {{#if (eq itemType "gambit")}}
        <h2><i class="fa-solid fa-cards"></i> Gambit</h2>
      {{/if}}

      {{#if isSignatureMove}}
        <h2><i class="fa-kit fa-signature-perk"></i>Signature Perk</h2>
      {{/if}}

      {{#if (and (eq itemType "move") (not isSignatureMove))}}
        <h2><i class="fa-kit fa-basic-move"></i> Move</h2>
      {{/if}}
    </div>
    <img class="profile-img" src="{{itemDisplayImg}}" data-edit="img" title="{{item.name}}" />
    <h1><input name="name" type="text" value="{{item.name}}" /></h1>
  </header>

  <section class="sheet-body">

    <div class="item-description wrapper mg-content">
      <label>Description</label>
      {{editor
        system.description
        target="system.description"
        engine="tinymce"
        owner=owner
        editable=editable
        button=false
      }}
    </div>

    {{#if (eq item.type "gambit")}}
      <div class="wrapper mg-content">
        <div class="form-group">
          <label>Gambit Tier</label>
          <select name="system.tier" class="mg-gambit-tier-select">
            {{#each gambitTiers}}
              <option value="{{this.id}}" {{#if (eq ../system.tier this.id)}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label>Gambit Type</label>
          <select name="system.gambitType">
            <option value="" {{#unless system.gambitType}}selected{{/unless}}>Unassigned</option>
            {{#each gambitTypes}}
              <option value="{{this.id}}" {{#if (eq ../system.gambitType this.id)}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label>GP Cost</label>
          {{#if isRookieGambit}}
            <div class="form-fields">
              <label class="checkbox">
                <input type="radio" name="system.gpCost" value="1" {{#if (eq system.gpCost 1)}}checked{{/if}} />
                1 GP
              </label>
              <label class="checkbox">
                <input type="radio" name="system.gpCost" value="2" {{#if (eq system.gpCost 2)}}checked{{/if}} />
                2 GP
              </label>
            </div>
          {{else}}
            <div class="form-fields">
              <span class="mg-fixed-gp-cost">{{system.gpCost}} GP</span>
            </div>
          {{/if}}
        </div>

        {{#if libraryEligible}}
          <div class="form-group signature-check library-settings">
            <label>Add to Library?</label>
            <div class="form-wrap">
              <input type="checkbox" name="system.libraryEnabled" {{#if system.libraryEnabled}}checked{{/if}} />
              <p>If checked, this gambit appears in the Gambit Library picker.</p>
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if (eq itemType "weapon")}}
      <div class="wrapper mg-content">
        <label>Strain Damage</label>

        <div class="mg-weapon-strain-grid bubble-wrapper">
          <div class="mg-weapon-strain-field strain-bubble">
            <i class="fa-solid fa-dagger" title="Mortal Strain"></i>
            <input type="number"
                  name="system.mortalStrainDamage"
                  value="{{system.mortalStrainDamage}}"
                  min="0" />
          </div>

          <div class="mg-weapon-strain-field strain-bubble">
            <i class="fa-solid fa-moon-over-sun" title="Soul Strain"></i>
            <input type="number"
                  name="system.soulStrainDamage"
                  value="{{system.soulStrainDamage}}"
                  min="0" />
          </div>
        </div>
      </div>
    {{/if}}

    {{#if (eq itemType "armor")}}
      <div class="wrapper mg-content">
        <label>Capacity</label>
        <div class="bubble-wrapper">
          <div class="strain-bubble">
            <i class="fa-solid fa-dagger" title="Mortal Capacity"></i>
            <input type="number" name="system.mortalCapacity" value="{{system.mortalCapacity}}" min="0" />
          </div>

          <div class="strain-bubble">
            <i class="fa-solid fa-moon-over-sun" title="Soul Capacity"></i>
            <input type="number" name="system.soulCapacity" value="{{system.soulCapacity}}" min="0" />
          </div>
        </div>
      </div>
    {{/if}}

    {{#if (eq itemType "misc")}}
      <div class="wrapper mg-content">

        <label>Strain Damage</label>
        <div class="bubble-wrapper">
          <div class="strain-bubble">
            <i class="fa-solid fa-dagger" title="Mortal Strain"></i>
            <input type="number"
                  name="system.mortalStrainDamage"
                  value="{{system.mortalStrainDamage}}"
                  min="0" />
          </div>

          <div class="strain-bubble">
            <i class="fa-solid fa-moon-over-sun" title="Soul Strain"></i>
            <input type="number"
                  name="system.soulStrainDamage"
                  value="{{system.soulStrainDamage}}"
                  min="0" />
          </div>
        </div>

        <label>Capacity</label>
        <div class="bubble-wrapper">
          <div class="strain-bubble">
            <i class="fa-solid fa-dagger" title="Mortal Capacity"></i>
            <input type="number" name="system.mortalCapacity" value="{{system.mortalCapacity}}" min="0" />
          </div>

          <div class="strain-bubble">
            <i class="fa-solid fa-moon-over-sun" title="Soul Capacity"></i>
            <input type="number" name="system.soulCapacity" value="{{system.soulCapacity}}" min="0" />
          </div>
        </div>
      </div>
    {{/if}}

    {{#if (and (eq itemType "move") (not isSignatureMove))}}
      <div class="wrapper mg-content">
        {{#if libraryEligible}}
          <div class="form-group signature-check library-settings">
            <label>Add to Library?</label>
            <div class="form-wrap">
              <input type="checkbox" name="system.libraryEnabled" {{#if system.libraryEnabled}}checked{{/if}} />
              <p>If checked, this move appears in the Moves Library picker.</p>
            </div>
          </div>

        {{/if}}

        <div class="form-group">
          <label>Library Teaser</label>
          <input
            type="text"
            name="system.teaser"
            value="{{system.teaser}}"
            placeholder="Disarm resistance"
            maxlength="64"
          />
        </div>

        <div class="form-group">
          <label>Move Type</label>
          <select name="system.moveType">
            <option value="" {{#unless system.moveType}}selected{{/unless}}>Unassigned</option>
            {{#each moveTypes}}
              <option value="{{this.id}}" {{#if (eq ../system.moveType this.id)}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label>Sub Types</label>
          <div class="tag-selector move-subtype-selector" data-move-subtype-selector>
            <input type="hidden" name="system.moveSubtypesCsv" value="{{system.moveSubtypesCsv}}" />
            {{#each moveSubtypes}}
              <button
                type="button"
                class="tag-pill move-subtype-pill {{#if (lookup ../moveSubtypeSelected this.id)}}selected{{/if}}"
                data-subtype-id="{{this.id}}"
                title="{{this.label}}"
              >
                {{this.label}}
              </button>
            {{/each}}
          </div>
        </div>
      </div>

    {{/if}}

    {{#if (and (eq itemType "move") isSignatureMove)}}
      <input type="hidden" name="system.isSignature" value="true" />
      <input type="hidden" name="system.libraryEnabled" value="false" />
    {{/if}}

    <div class="wrapper mg-content">
      <label>Tags</label>
      <div class="tag-selector">

        {{#each tags}}
          <div class="tag-container">
            <button
            type="button"
            class="tag-pill {{#if (includes ../system.tags this.id)}}selected{{/if}}"
            data-tag-id="{{this.id}}"
            title="{{this.description}}"
            >
            {{this.label}}
            </button>

              {{#if this.isCustom}}
                <button type="button" class="delete-custom-tag" data-tag-id="{{this.id}}" title="Delete custom tag globally"><i class="fa-solid fa-delete-left"></i></button>
              {{/if}}
          </div>
        {{/each}}

      </div>

      <div class="wrapper tag-wrapper">
        <label>Selected Tags:</label>
        {{#each item.system.tags}}
          {{#with (findTag ../tags this) as |tag|}}
          <span class="item-tag tag" data-tooltip="{{tag.description}}">{{tag.label}}</span>
          {{else}}
          <span class="item-tag tag">{{this}}</span>
          {{/with}}
        {{/each}}

        <button class="add-custom-tag"><i class="fa-solid fa-plus"></i> Add Custom Tag</button>
      </div>
    </div>

  </section>
</form>
